<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redisConfiguration" type="Redis.Configuration.RedisSettings,Redis,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <redisConfiguration db="0" writeServerConStr="192.168.20.46:6379" readServerConStr="192.168.20.46:6379" maxWritePoolSize="100" maxReadPoolSize="100" autoStart="true" localCacheTime="31536000" recordeLog="false" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
